<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Netget Gateway</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
        
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
        }

        body {
            background: #020708;
            background-image: 
                linear-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px), /* Horizontal line */
                linear-gradient(90deg, rgba(6, 31, 58, 0.2) 50%, transparent 50%),
                linear-gradient(rgba(0, 0, 0, 0.2) 50%, transparent 50%);
            background-size: 
                100% 25px, /* Horizontal line spacing */
                50px 50px,
                50px 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Press Start 2P', cursive;
            color: #333;
            position: relative;
        }

        body::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-image: radial-gradient(circle, #ffffff 1px, transparent 1px);
            background-size: 50px 50px;
            opacity: 0.3;
            pointer-events: none;
        }

        .container {
            text-align: center;
            padding: 20px;
            border: 5px solid #333;
            background: #fff;
            max-width: 666px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, .3);
        }

        h1 {
            color: #ff6347; /* Tomato */
            text-shadow: 3.5px 3.5px 0 #333;
            font-size: 1.6rem;
            line-height: 2.5rem;
        }

        .action-button {
            font-family: 'Press Start 2P', cursive;
            background-color: #333;
            border: none;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            margin: 20px auto;
            cursor: pointer;
        }

        @media (max-width: 768px) {
            h1 {
                font-size: 1.5rem;
                line-height: 2rem;
            }
        }
    </style>
</head>
<body>
    <div class="container">
        <h1><%= title %></h1>
        Welcome to the NetGet Gateway.
        <a href="/domainList" class="action-button">View Domain List</a>
    </div>
</body>
</html>
