<!DOCTYPE html>
<!--  This site was created in Webflow. http://www.webflow.com  -->
<!--  Last Published: Mon Apr 22 2019 15:55:05 GMT+0000 (UTC)  -->
<html data-wf-page="5cbde11893f4d30a9e9eecec" data-wf-site="5ca985147177dc87e3d2f4c6">
<head>
  <meta charset="utf-8">
  <title>Co - DE || Mands-Sheet</title>
  <meta content="Incredible is a template, that combines a minimal modern design with the right amount of features to help you create an outstanding web for your business in no time." name="description">
  <meta content="Commands-sheatW" property="og:title">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="Webflow" name="generator">
  
   <% include ../partials/header.ejs %>
  
</head>
<body class="natbody">
	
 <% include ../partials/nav.ejs %>
 
  <div class="w-row">
    <div class="w-col w-col-3">
      <h1 class="heading-25">Menu:</h1>
       <% include ../partials/codemmandsmenu.ejs %>
    </div>
    <div class="column-12 w-col w-col-9">
      <div class="text-block-19">This is a compilation of useful code snippets and commands for development.<br>
		 <br><br>I&#x27;m not responsable for what you do with the information given here. Do as you wish should be the whole of the law. But it&#x27;s on you. And to be honest.<br><br>‍<br></div>
      <div class="text-block-18">0:4 Pastor Manual Laphroaig&#x27;s First Epistle to Hacker Preachers of All Hats, in the sincerest hope that we might shup up about hats, and get back to hacking. <br> By P.M.L<br><br>To live effectively is to live with adequate information.<br> By Norbert Wiener<br><br><br><br><br><br><br><br><br><br><br></div>
    </div>
  </div>
  <div class="footer-cheatsheet">
    <h1 class="heading-27">Code-CheatSheet</h1>
  </div>
  <script src="https://d1tdp7z6w94jbb.cloudfront.net/js/jquery-3.3.1.min.js" type="text/javascript" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="js/webflow.js" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
</body>
</html>