<!DOCTYPE html>
<!--  This site was created By Sui Generis - Neurons Art & Technology  -->
<html data-wf-page="5ca9876ed636b76bf15cec89" data-wf-site="5ca985147177dc87e3d2f4c6">
<head>
  <meta charset="utf-8">
  <title>netget</title>
  <meta content="Incredible is a template, that combines a minimal modern design with the right amount of features to help you create an outstanding web for your business in no time." name="description">
  <meta content="natsynapses" property="og:title">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="Webflow" name="generator">
   <% include ../partials/header.ejs %>
   </head>
<body class="natbody">
	
	
    <% include ../partials/nav.ejs %>
    
  
  <div>
	    <div class="banner" id="home" style="position: fixed;"><canvas id="canvas"></canvas></div>
	    <div class="text-block-12" id="el">
	  	 <a href="https://www.cleaker.me"><p id="onStat"> Cleaker777</p>
	  	 <p id="onStat"> The Vault 777</p>
	  	 <p id="onStat"> w_Channels</p>
	    </div>
    <div data-animation="slide" data-duration="200" data-infinite="1" data-delay="4000" data-autoplay="1" class="slider-quotes w-slider">
      <div class="mask w-slider-mask">
        <div class="slider-quotes w-slide">
          <div class="slider-text">“Let us face ourselves. We are Hyperboreans; we know very well how far off we live.<br><span class="author">- Friedrich Nietzche</span></div>
        </div>
        <div class="w-slide">
          <div class="slider-text">&quot;To live effectively is to live with adequate information.&quot;<br><span class="author">- Norbert Wiener</span></div>
        </div>
        <div class="w-slide">
          <div class="slider-text"><span class="author"><span>&quot;Big Brother is watching you.&quot;<br></span>- George Orwell</span>
          </div>
        </div>
        <div class="w-slide">
          <div class="slider-text"><span class="author"><span> “Magick is the science and art of causing change to occur in conformity with will.” <br></span>- Aleister Crowley, Magick in Theory and Practice</span>
          </div>
        </div>
      </div>
      <div class="arrows w-slider-arrow-left">
        <div class="w-icon-slider-left"></div>
      </div>
      <div class="arrows w-slider-arrow-right">
        <div class="w-icon-slider-right"></div>
      </div>
      <div class="points w-slider-nav w-round"></div>
    </div>
  </div>
  <div class="logo">
	 
  </div>
  <div>
 
  </div>	 
 	 <script src="js/webflow.js" type="text/javascript"></script>
     <script src="js/canvas.js" type="text/javascript" ></script>
	 <!--NEURONS INSTALLED-->
	 <script src="synapses/sub_c/syn1.js"></script>
 
</body>
</html>