<!DOCTYPE html>
<!--  This site was created in Webflow. http://www.webflow.com  -->
<!--  Last Published: Thu Apr 18 2019 18:52:13 GMT+0000 (UTC)  -->
<html data-wf-page="5cb8b9be16ec99a329ef2bf5" data-wf-site="5ca985147177dc87e3d2f4c6">
<head>
  <meta charset="utf-8">
  <title>WTM-channels</title>
  <meta content="Incredible is a template, that combines a minimal modern design with the right amount of features to help you create an outstanding web for your business in no time." name="description">
  <meta content="Wt-channels" property="og:title">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="Webflow" name="generator">
  
   <% include ../partials/header.ejs %>
  
	<script src="js/crypto/rollups/aes.js"></script>
	
	</head>
	<body class="natbody">
	
	<img src="imgs/wtmedia.png" width="193" srcset="imgs/wtmedia.png 500w, imgs/wtmedia.png 800w, imgs/wtmedia.png 960w" sizes="193px" alt="" class="image-33">
  <h1 class="heading-28">WRECK THE MEDIA</h1>
  <div class="form-block-2 w-form">
	  <!-- method="GET" action="/openChannel" -->
    <form method="POST" action="/openChannel" id="wtm-channel-redirection" name="WTMchannels" data-name="Email Form" class="form-4">
		<label for="name" class="field-label-2">Channel Name:</label>
		<input type="text" name="channel" id="channelName" data-name="channelName" maxlength="21" class="text-field-4 w-input">
		<label for="channel Hash" class="field-label-3">Channel Hash:</label>
		<input type="password" name="channelHash" id="channel-Hash" class="text-field-5 w-input" maxlength="21" data-name="ch-hash">
		<button class="buttonblue">Connect</button> <!--onclick="buildChannel(); return false"--> 
	</form>
      <div class="w-form-done">
        <div>Do you even lift?</div>
      </div>
      <div class="w-form-fail">
        <div>Oops! Something went wrong!</div>
      </div>
	  	<% include ../partials/nav.ejs %>
    </div>

	
	<!--
	<label>encrypted</label>
	<div id="demo1"></div>
	<br>

	<label>decrypted</label>
	<div id="demo2"></div>

	<br>
	<label>Actual Message</label>
	<div id="demo3"></div>
	
	<script>
		function buildChannel(){	
		//channel Name
		var channelName = document.getElementById('channelName').value;
		//channel Hash
		var channelHash = document.getElementById('channelHash').value;
		var encrypted = CryptoJS.AES.encrypt(channelName, channelHash);
	   	var decrypted = CryptoJS.AES.decrypt(encrypted, channelHash);
		document.getElementById("demo1").innerHTML = encrypted;
		document.getElementById("demo2").innerHTML = decrypted;
		document.getElementById("demo3").innerHTML = decrypted.toString(CryptoJS.enc.Utf8);
			};
	</script>
		-->
    
  <script src="https://d1tdp7z6w94jbb.cloudfront.net/js/jquery-3.3.1.min.js" type="text/javascript" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="js/webflow.js" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
</body>
</html>